@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Roboto:wght@100;400;900&display=swap');

:root {
    --color-bg: linear-gradient(60deg, darkslategray 0%, dimgray 100%);
    --color-link: dodgerblue;
    --color-text: whitesmoke;   
}

::selection {
    background: gold;
    color: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

body {
    height: 100vh;
    background: darkslategray;
    color: var(--color-text);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}


.container {
    /* display: grid; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

header {
    animation: move-down 2s both 0.5s;
    opacity: 0;
    display: flex;
    justify-content: space-between;
}

.id {
    display: grid;
}

.name {
    font-size: 1.3rem;
    transition: all 0.2s;
}

.handle {
    font-size: 0.9rem;
    transition: all 0.2s;
}

.name:hover,
.handle:hover {
    filter: brightness(1.2);
}

.contact a:hover {
    filter: brightness(1.2);
    transition: all 0.2s;
    transform: translateY(-1px);
}

section {
    margin-top: 100px;
    animation: show 2s both 1s;
    opacity: 0;
}

section p {
    transition: all 0.2s;
    font-size: 35px;
    display: inline;
}

section p:hover {
    color: gold;
}

footer {
    animation: move-up 2s both 0.5s;
    opacity: 0;
}

footer a:hover {
    filter: brightness(1.2);
    text-decoration: underline;
}

@keyframes show {
    to {
        opacity: 1;
    }
}

@keyframes move-down {
    from {
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes move-up {
    from {
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.circle {
    opacity: 0;
    /* animation: show 2s both 3.5s; */
    width: 100px;
    height: 100px;
}

.wave {
    z-index: -100;
    position: relative;
    width: 100%;
    height: 100%;
}

.wave:before,
.wave:after {
    content: "";
    position: absolute;
    width: 600%;
    height: 600%;
}

.wave:before {
    border-radius: 37%;
    background: rgba(46, 39, 157, 0.9);
    animation: animate 10s linear infinite;
}

.wave:after {
    border-radius: 43%;
    background: rgba(223, 246, 240, 0.1);
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}


