@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* :root { */
/*   --color-bg: #004643; */
/*   --color-link: #f9bc60; */
/*   --color-text: #fffffe; */
/* } */

/* ::selection { */
/*   background: #001e1d; */
/*   color: #e16162; */
/* } */

/* * { */
/*   margin: 0; */
/*   padding: 0; */
/*   box-sizing: border-box; */
/* } */

/* a { */
/*   color: var(--color-link); */
/*   text-decoration: none; */
/*   transition: all 0.2s; */
/* } */

/* .dark { */
/*   background: #111; */
/*   color: whitesmoke; */
/* } */

/* body { */
/*   height: 100vh; */
/*   background: var(--color-bg); */
/*   color: var(--color-text); */
/*   font-family: "Open Sans", sans-serif; */
/*   font-family: "Roboto", sans-serif; */
/* } */

/* .container { */
/*   display: grid; */
/*   height: 100%; */
/*   padding: 20px; */
/*   max-width: 800px; */
/*   margin: 0 auto; */
/* } */

/* header { */
/*   margin-top: 50px; */
/*   animation: move-down 2s both 0.5s; */
/*   opacity: 0; */
/*   display: flex; */
/*   justify-content: space-between; */
/* } */

/* .id { */
/*   display: grid; */
/* } */

/* .name { */
/*   font-size: 1.4rem; */
/*   transition: all 0.2s; */
/* } */

/* .handle { */
/*   font-size: 0.9rem; */
/*   transition: all 0.2s; */
/* } */

/* .name:hover, */
/* .handle:hover { */
/*   opacity: 0.7; */
/* } */

/* .contact { */
/*   display: grid; */
/*   grid-template-columns: repeat(3, 1fr); */
/*   gap: 15px; */
/*   font-size: 2rem; */
/* } */

/* .contact a:hover { */
/*   transform: translateY(-2px); */
/*   opacity: 0.7; */
/* } */

/* section { */
/*   animation: show 2s both 1s; */
/*   opacity: 0; */
/* } */

/* section p { */
/*   display: inline; */
/*   font-size: 3rem; */
/*   font-weight: 100; */
/*   transition: all 0.2s; */
/* } */

/* section p:hover { */
/*   color: var(--color-link); */
/* } */

/* footer { */
/*   animation: move-up 2s both 0.5s; */
/*   opacity: 0; */
/*   align-self: flex-end; */
/*   font-size: 0.9rem; */
/* } */

/* footer a:hover { */
/*   opacity: 0.7; */
/*   text-decoration: underline; */
/* } */

/* @keyframes show { */
/*   to { */
/*     opacity: 1; */
/*   } */
/* } */

/* @keyframes move-down { */
/*   from { */
/*     transform: translateY(-50px); */
/*   } */

/*   to { */
/*     opacity: 1; */
/*     transform: translateY(0); */
/*   } */
/* } */

/* @keyframes move-up { */
/*   from { */
/*     transform: translateY(50px); */
/*   } */

/*   to { */
/*     opacity: 1; */
/*     transform: translateY(0); */
/*   } */
/* } */

/* .custom-shape-divider-top-1637589272 { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   width: 100%; */
/*   overflow: hidden; */
/*   line-height: 0; */
/*   opacity: 0.5; */
/* } */

/* .custom-shape-divider-top-1637589272 svg { */
/*   position: relative; */
/*   display: block; */
/*   width: calc(100% + 1.3px); */
/*   height: 30px; */
/* } */

/* .custom-shape-divider-top-1637589272 .shape-fill { */
/*   fill: #ffffff; */
/* } */

/* @media (max-width: 400px) { */
/*   body { */
/*     text-align: center; */
/*   } */

/*   section { */
/*     padding: 20px; */
/*   } */

/*   header { */
/*     margin-top: 100px; */
/*     flex-direction: column; */
/*     justify-content: inherit; */
/*     gap: 30px; */
/*   } */

/*   .name { */
/*     font-size: 1.5rem; */
/*   } */

/*   section p { */
/*     font-size: 2rem; */
/*   } */

/*   .contact { */
/*     display: flex; */
/*     justify-content: center; */
/*   } */
/* } */
